.body{
    background-color: #d6a8ed;
    text-align: center;
    }
.h3{
    background-color: blanchedalmond;
    border-radius: 4px;
    display: flexbox;
    width:;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.buddu{
    color: rgb(252, 61, 163);
    font-family: cursive;
    font-weight: bold;
    font-size: medium;
}
.img{
    height: 80px;
    width: 80px;
    padding-top: 3px;
    padding-bottom: 5px;
}
.p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}